@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;

}

body{    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1.5% 1%;
    height: 13vh;
    background: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgb(255, 33, 107) ;
    position: fixed;
    width: 100vw;
    z-index: 1;
   
}
.lista-menu ul {
    display: flex;
    justify-content: center;
    
}
.lista-menu ul li{
    text-decoration: none;
    list-style: none;
    margin: 0 40px;
    background: rgb(255, 33, 107);
    height: 30px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px black solid;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.lista-menu ul li:hover{
    background-color: white;
    transition: .6s;
}

.intro h2{
    color: white;
    margin: 2% 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    
}

.intro h1 {
    text-shadow: 0 0 10px white, 0 0 10px black, 0 0 10px black;
 color: black;
 font-family: 'Kanit', sans-serif;
 font-size: 60px;
}
.content-2{
    height: 120vh;
    width: 100vw;
    background: rgb(44, 44, 43);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   padding: 40px 40px;
    
}
.jobs{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    gap: 30px;
    
}
.content-2-geral{
    height: 80%;
    width: 90vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    
}
.content-1{
    width: 100vw;
    height: 120vh;
align-items: center;
    display: flex;
    justify-content: center;
  
    background: rgba(0, 0, 0, 0.726);
    border-bottom: 2px solid rgb(255, 33, 107) ;
}
.logo{
    width: 600px;
    height: 700px;
}



.portifolio{
    margin-bottom: 4%;
    margin-top: 10%;
    font-size: 40px;
    text-shadow: 0 0 10px white, 0 0 10px black, 0 0 10px black;
    font-family: 'Kanit', sans-serif;
}

.minha-foto{
    height: 300px;
    width: 250px;
    
}
footer{
    width: 100vw;
    height: 15vh;
    background: black;
    border-top: 1px solid rgb(255, 33, 107);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    font-size: 13px;
    
}
.intro{
    height: 300px;
    width: 400px;
    margin-right: 2%;
    margin-bottom: 8%;
}

.button-port{
    background: rgb(255, 33, 107);
    height: 30px;
    width: 400px;
    border: 1px solid black;
    font-size: 18px;
    margin-top: 30px;

}

.button-port:hover{
    background-color: white;
    transition: .6s;
    cursor: pointer;
}
.content-3{
    height: 100vh;
    width: 100vw;
    background: rgb(44, 44, 43);
   
   border-bottom: 1px solid rgb(255, 33, 107);
}
.content-3 h1{
    text-shadow: 0 0 10px white, 0 0 10px black, 0 0 10px black;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
}
.logo-inicio{
    height: 90px;
    width: 90px;
    margin-top: 45px;
    border-bottom: #f40373 1px solid;
}
.div-logo{
    margin-top: -30px;
}
.content-central-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-left: 10%;
}
.img-logo-skill{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-top: 15%;
  
}


h3{
    margin-bottom: 5px;
    margin-left: 25%;
}
.container{
    width: 50%;
    background-color: #d2d7d3;
    margin-left: 25%;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
border-radius: 5px;
border: 1px solid black;
}
.html{
    width: 90%;
    background-color: #4caf50;
    box-shadow: 0 0 20px #4caf50;

}
.css{
    width: 80%;
    background-color: #03a9f4;
    box-shadow: 0 0 20px #03a9f4;
    
}

.container-skills{
    width: 60vw;
    height:55vh;
}

.javascript{
    width: 70%;
    background-color: #8003f4;
    box-shadow: 0 0 20px #8003f4;
}
.nodejs{
    width: 30%;
    background-color: #f49403;
    box-shadow: 0 0 20px #f49403;
}
.react{
    width: 20%;
    background-color: #f40373;
    box-shadow: 0 0 20px #f40373;
    
}
.logo-redesocial, .icone-whats{
    height: 60px;
    width: 60px;
}
.conjunto-logo{
    margin-bottom: 10%;
    margin-left: -20%;
    
}
.logo-redesocial{
    margin: 0 8px;
}
.icone-whats{
    position: fixed;
    margin-left: 5%;
    margin-top: 10%;
   
    
}
.git{
    width: 70%;
    background-color: #f4032b;
    box-shadow: 0 0 20px #f4032b;
    
}
.container-skills{
    margin-top: -4%;
}
.btnteste{
    margin-right: 20px;
}

.box{
   
    width: 350px;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #03a9f4;
  
    
}
.caixa-button{
    width: 350px;
    height: 180px;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    
}
.box:hover{
    z-index: 0;
}
.btnteste, .btnteste2{
    height: 30px;
    width: 80px;
    font-size: 15px;
    border: solid 1px black;
    background: #f40373;
    
    
}
.box1{
    background: url(./img/spotify.png);
    background-size: cover;
    
}
.box2{
    background: url(./img/drum.jpg);
    background-size: cover;
}
.box3{
    background: url(./img/coviapi.png);
    background-size: cover;
}
.box4{
    background: url(./img/contador.png);
    background-size: cover;
}
.box5{
    background: url(./img/validadorsenha.png);
    background-size: cover;
}
.box6{
    background: url(./img/calculadoraimc.jpg);
    background-size: cover;
}
.logo-footer{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.footer-direito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.contato{
    margin-right: 9%;
}

@media (max-width:850px){
    .logo{
      width: 350px;
      height: 700px;
    }
   .intro{
   width: 350px;
   padding-left: 13px;
   }
   .conjunto-logo{
    margin-left: -50%;
   }
   .img-logo-skill{
    height: 250px;
    width: 250px;
   }
   .container-skills{
    width: 500px;
    margin-top: 30px;
   }
   .jobs{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .content-2-geral{
    height: 100%;
   }
   .content-2{
    height: 140vh;
   }
   .content-1{
    width: auto;
    
   }
}
@media (max-width:450px){
.content-1, .headerr{
    width: 350px;
    
}
.headerr{
    overflow: hidden;
}
.content-1{
    display: flex;
    flex-direction: column;
   padding-right: 60px;
    height: 120vh;
    padding-top: 150px;
}
.intro{
    width: 200px;
    height: 600px;
    
}
.lista-menu{
    display: none;
}
.button-port{
    width: 250px;
}
.logo{
    width: 250px;
    height: 250px;
    margin-left: 90px;
}
#h1titulo{
    font-size: 50px;
    letter-spacing: -1px;
}
.conjunto-logo{
    width: 300px;
    margin-left: 80px;
}
.logo-redesocial{
    width: 35px;
    height: 35px;
}
}
